.modal.fade id="show" role="dialog"
  .modal-dialog
    .modal-content
      .modal-header
        -if @inscription.positive
            - str='Good'
        -else
            - str='Bad'
        h4 class="modal-title" = str+' Inscription '+@inscription.name
      .modal-body
        strong Description:
        .text-muted = @inscription.description

      .modal-footer
        .row
          .col-md-7
          .col-md-3
            = button_to 'Delete', @inscription,remote: true, method: :delete, data: {confirm: 'Are you sure?', disable_with: 'loading...'}, class: "btn btn-default"
          .col-md-2
            = button_to 'Close', inscriptions_path, method: :get, data: {dismiss: "modal", disable_with: 'loading...'}, class: "btn btn-default"